dist
dist-newstyle
.stack-work/
cabal.sandbox.config
.cabal-sandbox
*~
.\#*
*.swp
sanity.*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
*.prof
*.aux
*.hp
*.eventlog
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
