body {
  font: 14px Helvetica Neue;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  overflow-y: scroll;
}

a:link {
  color: steelblue;
  text-decoration: none;
}

a:visited {
  color: #4a743b;
  text-decoration: none;
}

.hover {
  color: steelblue;
  text-decoration: none;
}

.body {
  width: 960px;
  margin: auto;
}

th {
  font-weight: 500;
  opacity: 0.8;
}

th.cibound {
  opacity: 0.4;
}

.citime {
  opacity: 0.5;
}

h1 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: .3em;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: .3em;
}

.meanlegend {
  color: #404040;
  background-color: #ffffff;
  opacity: 0.6;
  font-size: smaller;
}
